.classpath
.project
bin/
.settings/org.eclipse.jdt.core.prefs
Ozawa/.idea/
Ozawa/App/App.iml
Ozawa/Ozawa.iml
Ozawa/App/src/main/gen/com/ozawa/android/R.java
Ozawa/App/src/main/gen/com/ozawa/android/BuildConfig.java
Ozawa/App/src/main/gen/com/ozawa/android/Manifest.java
Ozawa/App/src/main/java/com/ozawa/android/UI/DrawableManager.java
Ozawa/App/src/main/main.iml
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/R.java
HexTCGDeckBuilder/gen/android/support/v7/appcompat/R.java
.metadata/
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/BuildConfig.java
HexTCGDeckBuilder/project.properties
hex0*.png
hexcard0*.json
jsondata/
hex0*.jpg
!hex00001.jpg
!hex00002.jpg
!hex00003.jpg
!hex00004.jpg
!hex00005.jpg
!hex00006.jpg
championportait0*.png
championportaitsmall0*.png
champion0*.json
HexTCGDeckBuilder/gen/com/github/espiandev/showcaseview/R.java
Ozawa/App/src/main/res/drawable-hdpi/hex00001.png
Ozawa/App/src/main/res/drawable-hdpi/hex00002.png
Ozawa/App/src/main/res/drawable-hdpi/hex00003.png
Ozawa/App/src/main/res/drawable-hdpi/hex00004.png
Ozawa/App/src/main/res/drawable-hdpi/hex00005.png
Ozawa/App/src/main/res/drawable-hdpi/hex00006.png
HexTCGDeckBuilder/gen/com/android/vending/expansion/downloader/R.java
Ozawa/.gradle/
Ozawa/App/build/apk/App-defaultFlavor-debug-unaligned.apk
Ozawa/App/
HexTCGDeckBuilder/res/raw/gemdata0686b944_56bb_4ee5_ab8e_84ccf9c6ad3e.json
HexTCGDeckBuilder/res/raw/gemdata0cb1a6c1_a88c_4a9a_a650_30bb28f181fe.json
HexTCGDeckBuilder/res/raw/gemdata25b73e24_66af_4c0c_94b7_133a8b6d4df8.json
HexTCGDeckBuilder/res/raw/gemdata2899fa5e_a809_49d3_995a_63a52c7803ae.json
HexTCGDeckBuilder/res/raw/gemdata34b4f535_688e_4008_b729_4ac16fafc7f4.json
HexTCGDeckBuilder/res/raw/gemdata353c60cb_c64f_4a84_aa3d_b9e54d676586.json
HexTCGDeckBuilder/res/raw/gemdata3c3b6bb8_6989_47b5_8963_01bcdfe5fc12.json
HexTCGDeckBuilder/res/raw/gemdata7197f06d_296e_40ec_81d1_78445647a9ad.json
HexTCGDeckBuilder/res/raw/gemdata8b4f13ca_cd13_4f65_afbe_42e618f49f71.json
HexTCGDeckBuilder/res/raw/gemdata8e7d5de2_456d_47e5_954e_7fb5d3107490.json
HexTCGDeckBuilder/res/raw/gemdata9808c875_f30f_470c_8023_b639fa5fc9d3.json
HexTCGDeckBuilder/res/raw/gemdata9bbf1408_7dcc_46b7_834f_a019b9f4c63f.json
HexTCGDeckBuilder/res/raw/gemdata9e30b221_025a_43ce_aec2_965bfb94c79d.json
HexTCGDeckBuilder/res/raw/gemdataacdd575b_4bd6_43ff_978d_7fe7b76acaa2.json
HexTCGDeckBuilder/res/raw/gemdataad26b77a_83ad_4031_a0f0_9cbc9cc79b44.json
HexTCGDeckBuilder/res/raw/gemdatad5f0d2e4_f8a7_4e5f_bb03_9319e504fcae.json
HexTCGDeckBuilder/res/raw/gemdatae95d9de4_0cd8_4e1b_bd29_d4fa5a83b0a4.json
HexTCGDeckBuilder/res/raw/gemdatae9c4be71_81a0_4fa7_b3f6_c931930f8114.json
HexTCGDeckBuilder/res/raw/gemdataf0e67b4c_6526_43b8_b307_54d84acbf511.json
HexTCGDeckBuilder/res/raw/gemdatafd183578_80d2_4110_ac71_7dc42cccbd5f.json
images/
