.classpath
.project
bin/
.settings/org.eclipse.jdt.core.prefs
Ozawa/.idea/
Ozawa/App/App.iml
Ozawa/Ozawa.iml
Ozawa/App/src/main/gen/com/ozawa/android/R.java
Ozawa/App/src/main/gen/com/ozawa/android/BuildConfig.java
Ozawa/App/src/main/gen/com/ozawa/android/Manifest.java
Ozawa/App/src/main/java/com/ozawa/android/UI/DrawableManager.java
Ozawa/App/src/main/main.iml
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/R.java
HexTCGDeckBuilder/gen/android/support/v7/appcompat/R.java
.metadata/
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/BuildConfig.java
HexTCGDeckBuilder/project.properties
hex0*.png
hexcard0*.json
