.classpath
.project
bin/
.settings/org.eclipse.jdt.core.prefs
Ozawa/.idea/
Ozawa/App/App.iml
Ozawa/Ozawa.iml
Ozawa/App/src/main/gen/com/ozawa/android/R.java
Ozawa/App/src/main/gen/com/ozawa/android/BuildConfig.java
Ozawa/App/src/main/gen/com/ozawa/android/Manifest.java
Ozawa/App/src/main/java/com/ozawa/android/UI/DrawableManager.java
Ozawa/App/src/main/main.iml
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/R.java
HexTCGDeckBuilder/gen/android/support/v7/appcompat/R.java
.metadata/
HexTCGDeckBuilder/gen/com/ozawa/hextcgdeckbuilder/BuildConfig.java
HexTCGDeckBuilder/project.properties
hex0*.png
!hex00001.jpg
!hex00002.jpg
!hex00003.jpg
!hex00004.jpg
!hex00005.jpg
!hex00006.jpg
hexcard0*.json
jsondata/
hex0*.jpg
championportait0*.png
championportaitsmall0*.png
champion0*.json
HexTCGDeckBuilder/gen/com/github/espiandev/showcaseview/R.java
Ozawa/App/src/main/res/drawable-hdpi/hex00001.png
Ozawa/App/src/main/res/drawable-hdpi/hex00002.png
Ozawa/App/src/main/res/drawable-hdpi/hex00003.png
Ozawa/App/src/main/res/drawable-hdpi/hex00004.png
Ozawa/App/src/main/res/drawable-hdpi/hex00005.png
Ozawa/App/src/main/res/drawable-hdpi/hex00006.png
